/node_modules
.idea
.cache

# output
commands/**/*.js
commands/**/*.d.ts

actions/**/*.js
actions/**/*.d.ts

lib/**/*.js
lib/**/*.d.ts


bin/**/*.js
bin/**/*.d.ts

utils/**/*.d.ts
utils/**/*.js
